// VARIABLES

// Colors
$grey: 		#dadada;
$bluedark: 	#32383e;
$tvblue: 	#070936;
$tvtan: 	#5a4947;
$white: 	#fff;
$orange: 	#fd4b46;
$orangedark:darken($orange, 15%);

// Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic);
$font-main: "Roboto", HelveticaNeue, Helvetica, sans-serif;