// VARIABLES

// Colors
$black: 	#252525;
$grey: 		#dadada;
$greydark: 	#aaa;
$bluedark: 	#32383e;
$white: 	#fff;
$orange: 	#fd4b46;
$orangedark:darken($orange, 15%);
$blue: 		#4f91e3;

// Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic);
$font-main: "Roboto", Avenir, HelveticaNeue, Helvetica, sans-serif;
