doctype html
html
  head
    title INTO THE STATIC

    link(rel="stylesheet", href="/static/styles/reset.css", type="text/css")
    link(rel="stylesheet", href="/static/styles/master.css", type="text/css")
    script(src="/socket.io/socket.io.js", type="text/javascript")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", type="text/javascript")
    script(src="/static/scripts/jquery.tubular.1.0.js", type="text/javascript")
    script(src="http://underscorejs.org/underscore.js", type="text/javascript")
    script(src="/static/scripts/video.js", type="text/javascript")

    <!-- SEMANTIC UI -->
    link(rel="stylesheet", href="/static/semantic/elements/icon.css", type="text/css")

    link(rel="stylesheet", href="/static/semantic/modules/video.css", type="text/css")
    script(src="/static/semantic/modules/video.js", type="text/javascript")

    script.
      var tag = "#{tag}";
    script(src="/static/scripts/master.js", type="text/javascript")
  body
    #wrap
      h1 into the #
        input(type="text", value="static")
        #cursor
      .center
        #video_box
          <!-- #video_overlay -->
          <!--   a -->
          <!--     i.link.circular.inverted.empty.heart.basic.icon -->
        .pane
          .controls
            a(onclick="playNextVideo", href="javascript:playNextVideo();") Skip
