doctype html
html
  head
    title INTO THE STATIC

    link(rel="stylesheet", href="/static/styles/reset.css", type="text/css")
    link(rel="stylesheet", href="/static/styles/master.css", type="text/css")
    script(src="/socket.io/socket.io.js", type="text/javascript")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", type="text/javascript")
    script(src="/static/scripts/jquery.tubular.1.0.js", type="text/javascript")
    script(src="http://underscorejs.org/underscore.js", type="text/javascript")
    script(src="/static/scripts/video.js", type="text/javascript")

    <!-- SEMANTIC UI -->
    link(rel="stylesheet", href="/static/semantic/collections/grid.css", type="text/css")
    link(rel="stylesheet", href="/static/semantic/elements/icon.css", type="text/css")

    link(rel="stylesheet", href="/static/semantic/modules/video.css", type="text/css")
    script(src="/static/semantic/modules/video.js", type="text/javascript")

    link(href="http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic", rel="stylesheet", type="text/css")
    script.
      var tag = "#{tag}";
    script(src="/static/scripts/analytics.js", type="text/javascript")
    script(src="/static/scripts/master.js", type="text/javascript")
  body

    .ui.grid
      .row#title-row
        .three.wide.column
        .ten.wide.column
          h1 Into the
          #input-box
            label#hashtag #
            #editable(contenteditable="true", data-maxlength="3", spellcheck="false")

        .two.wide.column
          if !authed
            a(href="#{external_auth_url}")#instagram Sign in with Instagram
        .one.wide.column

      .row#video-row
        .three.wide.column
        .ten.wide.column#middle
          #video_box
          img(src="/static/images/tv-blank.png")#tv
          #info-box
            a#next Next

        .three.wide.column

      .row#footer
        .sixteen.wide.column
          h4 A project by <a target="twitter" href="http://twitter.com/marsh">@marsh</a>
