doctype html
html
  head
    title Instagram - Real-time updates demo
    link(rel="stylesheet", href="/static/styles/reset.css", type="text/css")
    link(rel="stylesheet", href="/static/styles/master.css", type="text/css")
    script(src="/socket.io/socket.io.js", type="text/javascript")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", type="text/javascript")
    script(src="/static/scripts/jquery.tubular.1.0.js", type="text/javascript")

    script.
      var tag = "#{tag}";
    script(src="/static/scripts/master.js", type="text/javascript")
  body
    #wrap
      h1 into the #
        input(type="text", value="static")
        #cursor
      .center
        video
        a(onclick="playNextVideo", href="javascript:playNextVideo();") Skip
        script.
          $('video').on('ended', function(event) {
            if(videoQueue.length){
              console.log('video ended');
              playNextVideo();
            }
          });
