doctype html
html
  head
    title INTO THE STATIC

    <!-- STYLES -->
    link(rel="stylesheet", href="/static/styles/main.css", type="text/css")

    <!-- SCRIPTS -->
    script(src="/bower_components/jquery/dist/jquery.min.js", type="text/javascript")
    script(src="/bower_components/underscore/underscore.js", type="text/javascript")
    script(src="/bower_components/Semantic-UI/build/minified/modules/video.min.js", type="text/javascript")
    script(src="/static/scripts/video.js", type="text/javascript")

    script.
      var video_id = "#{video_id}";
      var tag = "#{tag}";
    script(src="/static/scripts/analytics.js", type="text/javascript")
    script(src="/static/scripts/master.js", type="text/javascript")

  body
    if !authed
      a(href="#{external_auth_url}")#instagram-home.instagram.button Sign in with Instagram

    div.container#header
      h2 Into the
      #input-box
        #hidden
        span#hashtag #
        input(type="text")
        a#submit.button Watch

    div.container#video-row
      div.columns.fourteen.offset-by-one
        img(src="/static/images/tv-blank-square.png")#tv
        #video_box
          a(class="share-icon" id="twitter-share", href="", target="_twitter")
            img(src="/static/images/twitter-round.png")

        #info-box
          a(href="#")#next Next

    div.wrapper#footer
        h4 Into the Static shows you a real time feed of videos being posted about a topic. A project by <a target="twitter" href="http://twitter.com/marsh">@marsh</a>. Design by <a target="twitter" href="http://twitter.com/kennethacohen">@kennethacohen</a>.

    #overlay
    #modal
      a#exit-modal x
      h1 Yo! You should sign in with Instagram
      a(href="#{external_auth_url}").instagram.button Sign in with Instagram
