files:
  /etc/nginx/conf.d/websockets.conf:
    mode: "000666"
    owner: root
    group: root
    encoding: plain
    content: |
      upstream backend {
          server 127.0.0.1:8081;
      }

      server {
          listen 80;

          # prevents 502 bad gateway error
          large_client_header_buffers 8 32k;

          location / {
              # prevents 502 bad gateway error
              proxy_buffers 8 32k;
              proxy_buffer_size 64k;

              proxy_pass http://backend;
              proxy_redirect off;

              # enables WS support
              proxy_http_version 1.1;
              proxy_set_header Upgrade $http_upgrade;
              proxy_set_header Connection "upgrade";
              proxy_set_header Host $host;
          }
      }
