/* @override http://localhost:3000/static/styles/master.css */
html, body {
  height: 100%; }

body {
  font-family: "Roboto", Avenir, Helvetica;
  font-size: 100%;
  background-color: #32383e; }

*::selection {
  color: white;
  background: #fd4b46; }

#title-row {
  padding: 30px 0;
  margin: 0;
  color: #dadada;
  *zoom: 1; }
  #title-row:before, #title-row:after {
    content: " ";
    display: table; }
  #title-row:after {
    clear: both; }
  #title-row h1 {
    text-align: center;
    font-weight: 100;
    font-size: 4em;
    margin: 0;
    text-shadow: 4px 2px #1b1e22;
    text-transform: uppercase;
    float: left;
    padding-top: 10px;
    display: block; }
  #title-row #input-box {
    width: 60%;
    float: left;
    display: block;
    font-weight: 100;
    margin-left: 20px;
    position: relative; }
    #title-row #input-box #hashtag {
      font-size: 4em;
      color: #fd4b46;
      display: block;
      position: absolute;
      left: 0;
      top: .24em; }
    #title-row #input-box #search {
      background: #32383e;
      border: none;
      outline: none;
      box-shadow: none;
      color: #fd4b46;
      font-family: "Roboto", Avenir, Helvetica;
      font-size: 4em;
      display: inline-block;
      float: left;
      width: 90%;
      font-weight: 100;
      padding: 0 0 0 .6em;
      margin-top: .05em;
      border-bottom: 1px dotted #fd4b46; }
  #title-row #instagram {
    border: 1px solid #1b1e22;
    text-align: center;
    font-weight: 100;
    text-decoration: none;
    min-width: 180px;
    width: 100%;
    color: #dadada;
    padding: .8em .8em;
    border-radius: 4px;
    display: block;
    -webkit-transition: all 0.05s ease-in-out;
    -moz-transition: all 0.05s ease-in-out;
    transition: all 0.05s ease-in-out; }
    #title-row #instagram:hover {
      background: #517fa4;
      color: white;
      box-shadow: 0 0 10px #1b1e22; }

#video-row {
  padding: 10px 0 0 0;
  margin: 0;
  position: relative;
  *zoom: 1; }
  #video-row:before, #video-row:after {
    content: " ";
    display: table; }
  #video-row:after {
    clear: both; }
  #video-row #middle {
    position: relative; }
  #video-row #video_box {
    display: block;
    position: absolute;
    height: 80%;
    width: 60%;
    left: 10%;
    top: 10%; }
    #video-row #video_box video {
      height: 100%;
      width: 100%; }
  #video-row #tv {
    border-radius: 10px;
    box-shadow: 0 0 10px #040506;
    z-index: 3;
    position: relative; }
  #video-row #info-box {
    position: absolute;
    right: 5.4%;
    top: 3.6%;
    width: 20%;
    height: 57%;
    z-index: 5;
    -webkit-content-box: border-box;
    -moz-content-box: border-box;
    content-box: border-box; }
    #video-row #info-box #next {
      width: 90%;
      display: block;
      margin: 0 auto;
      text-align: center;
      background: #fd4b46;
      color: white;
      text-decoration: none;
      padding: 2%;
      margin-top: .2em;
      font-weight: 300;
      height: 3em;
      line-height: 3em;
      font-size: 2em;
      border-radius: 8px;
      text-transform: uppercase;
      box-shadow: 0px 6px 0px #f40903;
      -webkit-transition: all 0.04s ease-in-out;
      -moz-transition: all 0.04s ease-in-out;
      transition: all 0.04s ease-in-out; }
      #video-row #info-box #next:hover {
        line-height: 3.2em;
        background: #fd5f5a;
        box-shadow: 0px 6px 0px #fd5f5a; }

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  height: 40px;
  background: #1b1e22;
  color: #dadada;
  margin: 0;
  padding: 10px 0;
  z-index: 4;
  font-weight: 100; }
  #footer h4 {
    text-align: right;
    line-height: 40px;
    margin: 0;
    padding: 0; }
  #footer a {
    color: #fd4b46;
    text-decoration: none;
    border-bottom: 1px dotted #fd4b46; }
    #footer a:hover {
      color: #fe7c78; }

@media only screen and (max-width: 1280px) {
  #title-row h1 {
    font-size: 3em;
    text-align: center;
    float: none;
    margin-bottom: .3em; }
  #title-row #instagram {
    position: absolute;
    font-size: .8em;
    top: 10px;
    right: 10px;
    width: 180px; }
  #title-row #input-box {
    width: 60%;
    margin: 0 auto;
    float: none; }
    #title-row #input-box #search {
      width: 100%;
      -webkit-box-style: border-box;
      -moz-box-style: border-box;
      box-style: border-box; } }
